.container {
  /*行内容器*/
  display: flex;
  height: 300px;
  justify-content: space-around;
  align-items: flex-start;
}
/*设置项目的单独对齐方式*/
.item-1 {
  align-self: flex-end;
}
.item-2 {
  align-self: center;
}
.item-3 {
  align-self: stretch;
}
.item-4 {
  align-self: center;
}
.item-5 {
  align-self: flex-end;
}
