.container {
  /*行内容器*/
  display: flex;
  height: 300px;
  align-items: flex-start;
}
/*给所有项目设置一个宽*/
.item {
  /*改变默认设置的宽度*/
  flex-basis: 100px;
}
/*单独给item-3设置一个宽度*/
.item-3 {
  /*让item-3比其他元素更容易缩小*/
  flex-shrink: 3;
}
